__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

coverage.xml
htmlcov/
.coverage

.vscode/
.env

.ha-config/*
!.ha-config/configuration.yaml
!.ha-config/automations.yaml
!.ha-config/scripts.yaml
!.ha-config/scenes.yaml
